
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<body>
<nav class="navbar navbar-expand-lg navbar navbar-light col-12" id="barra" style="background-image: url(../assets/fondo.jpg);   background-position: center center;  background-repeat: no-repeat;  background-size: cover;">
  <a class="navbar-brand">
      <img src="../assets/icono.jpg" width="40" height="40" alt="">MangasYorozuya
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
       
          <li class="nav-item">
              <a class="nav-link" routerLink="/mangas" routerLinkActive="active">Mas Populares</a>
          </li>

          <ng-container *ngIf="!authService.logueado(); else cerrrarSesion">
          <li class="nav-item">
          <a class="nav-link" routerLink="/login"  routerLinkActive="active">Iniciar Sesion</a>
          </li>
          </ng-container>
          <ng-template #cerrrarSesion>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="authService.cerrarSesion()">Cerrar Sesion</a>
                </li>
           </ng-template>
              
      
         
          
     

      </ul>
  </div>
</nav>

 <div class="row">            
<div class="container p-5">
  <router-outlet></router-outlet>
</div>
 </div>

  <div class="col-12 " style="padding: 0px;">
      <footer class="text-center text-white " style="background-color: #f1f1f1; margin-top: 400px; ">
          <!-- Grid container -->
          <div class="container pt-4 ">
              <!-- Section: Social media -->
              <div class="mb-4 ">
                  <!-- Github -->
                  <a class="btn btn-link btn-floating btn-lg text-dark m-1 logos" href="https://github.com/Seevii16" role="button" data-mdb-ripple-color="dark"><img src="https://cdn-icons-png.flaticon.com/512/25/25231.png">
                  </a>

                  <!-- Twitter -->
                  <a class="btn btn-link btn-floating btn-lg text-dark m-1 logos" href="https://twitter.com/sevillanito2001" role="button" data-mdb-ripple-color="dark"><img src="https://seeklogo.com/images/T/twitter-icon-circle-blue-logo-0902F48837-seeklogo.com.png"> </a>

                  <!-- Instagram -->
                  <a class="btn btn-link btn-floating btn-lg text-dark m-1 logos" href="https://www.instagram.com/seevii16" role="button" data-mdb-ripple-color="dark">
                      <img id="instagram" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/58/Instagram-Icon.png/1200px-Instagram-Icon.png">
                  </a>
              </div>
                 
                  <!-- Section: Social media -->
          </div>
          <!-- Grid container -->

          <!-- Copyright -->
          <div class="text-center text-dark p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
              © 2020 Copyright:
              <a class="text-dark " href="https://mdbootstrap.com/ ">MDBootstrap.com</a>
          </div>
          <!-- Copyright -->
      </footer>
  </div>
  

</body>
