<div class="row">
    <div class="col-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                Inicio de Sesion
            </div>
            <div class="card-body">
                <form (submit) ="iniciarSesion()">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="usuario.usuarioEmail" name="email" class="form-control" placeholder="Email" required autofocus>
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="usuario.usuarioContra" name="contra" class="form-control" placeholder="Contraseña" required autofocus>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">
                        Iniciar Sesion
                    </button>
                    <a routerLink="/registrarse" routerLinkActive="active">No tienes cuenta? Create una! :D</a>
                </form>
            </div>
        </div>
    </div>
</div>
